button,
input {
    border: none;
}
#results button,
#categories button {
    display: block;
}

#results {
    padding-top: 20px;
    margin-bottom: 20px;
}

#musiccontrol,
#songdetails,
#results,
#playlist {
    clear: both;
}

#playlist {
    padding-top: 30px;
}
#songdetails {
    font-family: Arial;
}

#search input {
    float: left;
}


#songdetails,
#playlist {
    display: none;
}

#playlist {
    font-family: Arial;
}

#next,
.playing,
.paused,
#end {
    height:50px;
    width: 50px;
    margin-top: 20px;
    margin-right: 5px;
    margin-bottom: 50px;
    clear: left;
}

#next {
    background: url(img/skip.png) no-repeat;
    background-size: 100%;
    -o-background-size: 100%;
    -webkit-background-size: 100%;
}

.playing {
    background: url(img/pause.png) no-repeat;
    background-size: 100%;
    -o-background-size: 100%;
    -webkit-background-size: 100%;
}

.paused {
    background: url(img/play.png) no-repeat;
    background-size: 100%;
    -o-background-size: 100%;
    -webkit-background-size: 100%;
}


#end {
    background: url(img/end.png) no-repeat;
    background-size: 100%;
    -o-background-size: 100%;
    -webkit-background-size: 100%;
}

#artist,
#genre,
#year {
    margin-bottom: 10px;
}

#artist {
    height: 50px;
    width: 200px;
    background: url(img/artist.png) no-repeat;
}

#genre {
    height: 50px;
    width: 200px;
    background: url(img/genre.png) no-repeat;
}

#year {
    height: 50px;
    width: 200px;
    background: url(img/year.png) no-repeat;
}

#city {
    height: 50px;
    width: 200px;
    background: url(img/city.png) no-repeat;
}

#artist.inactive,
#genre.inactive,
#year.inactive,
#city.inactive {
    background-position: left;

}

#artist.active,
#genre.active,
#year.active,
#city.active {
    background-position: right;
}

#searchbutton {
    top: 100px;
    height: 50px;
    width: 50px;
    background: url(img/search.png) no-repeat;
    background-size: 100%;
    -o-background-size: 100%;
    -webkit-background-size: 100%;
}

#searchfield {
    top: 100px;
    height: 50px;
    width: 200px;
    margin-right: 10px;
    padding: 0;
    background-color: #CCCCCC;
    color: #333;
    font-family: Arial;
    font-size: 14px;
}

::-webkit-input-placeholder {
    color: #333;
    padding-left: 2px;
    font-family: Arial;
    font-size: 14px;
    font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
    color: #333;
    padding-left: 2px;
    font-family: Arial;
    font-size: 14px;
    font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #333;
    padding-left: 2px;
    font-family: Arial;
    font-size: 14px;
    font-style: italic;
}

:-ms-input-placeholder {
    color: #333;
    padding-left: 2px;
    font-family: Arial;
    font-size: 14px;
    font-style: italic;
}

.hide {
    display: none;
}

.show {
    display: block;
}